# --- Dependencies ---
node_modules/
npm-debug.log



# --- Environment Variables (CRITICAL: Never push these!) ---
.env
.env.dev
.env.prod
.env.*

# --- Local Database Data (From your screenshot) ---
redis-data/
rabbitmq-data/
dump.rdb

# --- OS & IDE Files ---
.DS_Store
Thumbs.db
.vscode/
.idea/