[dotenv@17.2.3] injecting env (50) from .env -- tip: ΓÜÖ∩╕Å  write to custom object with { processEnv: myObject }
-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "email";

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Day" AS ENUM ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday');

-- CreateEnum
CREATE TYPE "Month" AS ENUM ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');

-- CreateEnum
CREATE TYPE "UserType" AS ENUM ('Student', 'Developer');

-- CreateEnum
CREATE TYPE "ExamName" AS ENUM ('JEE_MAIN', 'JEE_ADVANCED');

-- CreateEnum
CREATE TYPE "Shift" AS ENUM ('Morning', 'Evening', 'Paper_1', 'Paper_2');

-- CreateEnum
CREATE TYPE "SubjectName" AS ENUM ('Physics', 'Chemistry', 'Mathematics');

-- CreateEnum
CREATE TYPE "AttemptStatus" AS ENUM ('answered', 'notAnswered', 'markedForReview', 'visited');

-- CreateEnum
CREATE TYPE "TestState" AS ENUM ('IN_PROGRESS', 'PAUSED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "questionType" AS ENUM ('SingleCorrect', 'MultiCorrect', 'Integer', 'ComprehensionSingleCorrect', 'ComprehensionMultiCorrect', 'ComprehensionInteger');

-- CreateEnum
CREATE TYPE "ExamMode" AS ENUM ('online', 'offline');

-- CreateTable
CREATE TABLE "user" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "refersh_token" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "is_verified" BOOLEAN NOT NULL,
    "type" "UserType" NOT NULL DEFAULT 'Student',
    "lastVisited" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "user_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "studentProfile" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "class" INTEGER,
    "institution" TEXT,
    "phone" BIGINT,
    "phone_country_code" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "maximumStreak" INTEGER NOT NULL DEFAULT 0,
    "streak" INTEGER NOT NULL DEFAULT 0,
    "globalRank" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "studentProfile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exam" (
    "id" TEXT NOT NULL,
    "name" "ExamName" NOT NULL,

    CONSTRAINT "exam_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "subjects" (
    "id" TEXT NOT NULL,
    "name" "SubjectName" NOT NULL,
    "totalQuestion" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "subjects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chapters" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "class" INTEGER NOT NULL,
    "isJeeAdvanced" BOOLEAN NOT NULL DEFAULT false,
    "isJeeMain" BOOLEAN NOT NULL DEFAULT false,
    "group" TEXT NOT NULL,
    "chapterNumber" INTEGER NOT NULL,

    CONSTRAINT "chapters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "papers" (
    "id" TEXT NOT NULL,
    "examId" TEXT NOT NULL,
    "year" INTEGER,
    "totalMarks" INTEGER DEFAULT 0,
    "totalDuration" INTEGER DEFAULT 0,
    "totalQuestions" INTEGER DEFAULT 0,
    "date" TEXT NOT NULL,
    "shift" "Shift" NOT NULL,
    "mode" "ExamMode" NOT NULL,
    "day" "Day" NOT NULL,
    "month" "Month" NOT NULL,

    CONSTRAINT "papers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "paperMarkingScheme" (
    "id" TEXT NOT NULL,
    "paperId" TEXT NOT NULL,
    "questionType" "questionType" NOT NULL,
    "negativeMarks" INTEGER NOT NULL,
    "isPartial" BOOLEAN NOT NULL DEFAULT false,
    "positiveMarks" INTEGER NOT NULL,

    CONSTRAINT "paperMarkingScheme_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "questions" (
    "id" TEXT NOT NULL,
    "paperId" TEXT,
    "chapterId" TEXT,
    "image" TEXT[],
    "type" "questionType" NOT NULL,
    "positiveMarks" INTEGER NOT NULL,
    "negativeMarks" INTEGER NOT NULL,
    "correctAnswer" TEXT[],
    "isBonus" BOOLEAN NOT NULL DEFAULT false,
    "isOutOfSyllabus" BOOLEAN NOT NULL DEFAULT false,
    "content" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "comprehensionContent" TEXT,
    "comprehensionImage" TEXT[],
    "class" INTEGER NOT NULL,
    "questionNumber" INTEGER NOT NULL,

    CONSTRAINT "questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "options" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "optionAtext" TEXT,
    "optionBtext" TEXT,
    "optionCtext" TEXT,
    "optionDtext" TEXT,
    "optionAimage" TEXT[],
    "optionBimage" TEXT[],
    "optionCimage" TEXT[],
    "optionDimage" TEXT[],

    CONSTRAINT "options_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "solution" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "videoUrl" TEXT,
    "image" TEXT[],

    CONSTRAINT "solution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "testStatus" (
    "id" TEXT NOT NULL,
    "paperId" TEXT NOT NULL,
    "status" "TestState" NOT NULL DEFAULT 'IN_PROGRESS',
    "timeLeft" INTEGER NOT NULL,
    "activeQuestionId" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "studentId" TEXT NOT NULL,
    "isAnalyzed" BOOLEAN NOT NULL DEFAULT false,
    "activeSection" TEXT,

    CONSTRAINT "testStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "testQuestionAttemptStatus" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "testStatusId" TEXT NOT NULL,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "status" "AttemptStatus" NOT NULL DEFAULT 'notAnswered',
    "marksObtained" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "timeSpent" INTEGER NOT NULL,
    "userAnswer" TEXT[],
    "isVisited" BOOLEAN NOT NULL DEFAULT false,
    "markedForReview" BOOLEAN NOT NULL DEFAULT false,
    "isAnalyzed" BOOLEAN NOT NULL DEFAULT false,
    "studentId" TEXT NOT NULL,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "testQuestionAttemptStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chapterWiseQuestionAttemptStatus" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "timeSpent" INTEGER NOT NULL,
    "questionStatus" "AttemptStatus" NOT NULL,
    "userAnswer" TEXT[],
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "isCorrect" BOOLEAN NOT NULL DEFAULT false,
    "marksObtained" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "studentId" TEXT NOT NULL,
    "isAnalyzed" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "chapterWiseQuestionAttemptStatus_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentOverallAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "practiceAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testAttempts" INTEGER NOT NULL DEFAULT 0,
    "testMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "uniquePracticeAttempts" INTEGER NOT NULL DEFAULT 0,
    "uniqueTestAttempts" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StudentOverallAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubjectAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "practiceAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testAttempts" INTEGER NOT NULL DEFAULT 0,
    "testMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SubjectAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ChapterAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "chapterId" TEXT NOT NULL,
    "practiceJeeAdvancedAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeAdvancedCorrect" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeAdvancedMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceJeeAdvancedMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceJeeAdvancedPartial" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeAdvancedTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeAdvancedWrong" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeMainAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeMainCorrect" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeMainMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceJeeMainMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceJeeMainPartial" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeMainTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "practiceJeeMainWrong" INTEGER NOT NULL DEFAULT 0,
    "testJeeAdvancedAttempts" INTEGER NOT NULL DEFAULT 0,
    "testJeeAdvancedCorrect" INTEGER NOT NULL DEFAULT 0,
    "testJeeAdvancedMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testJeeAdvancedMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testJeeAdvancedPartial" INTEGER NOT NULL DEFAULT 0,
    "testJeeAdvancedTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testJeeAdvancedWrong" INTEGER NOT NULL DEFAULT 0,
    "testJeeMainAttempts" INTEGER NOT NULL DEFAULT 0,
    "testJeeMainCorrect" INTEGER NOT NULL DEFAULT 0,
    "testJeeMainMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testJeeMainMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testJeeMainPartial" INTEGER NOT NULL DEFAULT 0,
    "testJeeMainTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testJeeMainWrong" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ChapterAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TestChapterAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "chapterId" TEXT NOT NULL,
    "testStatusId" TEXT NOT NULL,
    "examName" "ExamName" NOT NULL,
    "chapterName" TEXT NOT NULL,
    "subjectName" TEXT NOT NULL,
    "totalQuestions" INTEGER NOT NULL,
    "attempt" INTEGER NOT NULL DEFAULT 0,
    "correct" INTEGER NOT NULL DEFAULT 0,
    "partial" INTEGER NOT NULL DEFAULT 0,
    "wrong" INTEGER NOT NULL DEFAULT 0,
    "marksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "maxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "positiveMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "partialMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "negativeMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "timeTaken" INTEGER NOT NULL DEFAULT 0,
    "accuracy" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TestChapterAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExamAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "examName" "ExamName" NOT NULL,
    "testsCompleted" INTEGER NOT NULL DEFAULT 0,
    "practiceAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testAttempts" INTEGER NOT NULL DEFAULT 0,
    "testMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ExamAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentQuestionAnalytics" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "questioType" "questionType" NOT NULL,
    "practiceAttempts" INTEGER NOT NULL DEFAULT 0,
    "practiceTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "practiceMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "practiceMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testAttempts" INTEGER NOT NULL DEFAULT 0,
    "testTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "testMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "testMaxPossible" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StudentQuestionAnalytics_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TestAttemptSummary" (
    "id" TEXT NOT NULL,
    "testStatusId" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "totalScore" DOUBLE PRECISION NOT NULL,
    "maxScore" DOUBLE PRECISION NOT NULL,
    "percentage" DOUBLE PRECISION NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "timeTaken" INTEGER NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "avgTimePerQ" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "chapterSplits" JSONB,

    CONSTRAINT "TestAttemptSummary_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubjectTestResult" (
    "id" TEXT NOT NULL,
    "summaryId" TEXT NOT NULL,
    "subjectName" "SubjectName" NOT NULL,
    "totalQuestions" INTEGER NOT NULL,
    "attempted" INTEGER NOT NULL,
    "correct" INTEGER NOT NULL,
    "partial" INTEGER NOT NULL,
    "wrong" INTEGER NOT NULL,
    "marks" DOUBLE PRECISION NOT NULL,
    "positiveMarks" DOUBLE PRECISION NOT NULL,
    "partialMarks" DOUBLE PRECISION NOT NULL,
    "negativeMarks" DOUBLE PRECISION NOT NULL,
    "timeTaken" INTEGER NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "maxMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,

    CONSTRAINT "SubjectTestResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestionTypeTestResult" (
    "id" TEXT NOT NULL,
    "summaryId" TEXT NOT NULL,
    "questionType" "questionType" NOT NULL,
    "totalQuestions" INTEGER NOT NULL,
    "attempted" INTEGER NOT NULL,
    "correct" INTEGER NOT NULL,
    "partial" INTEGER NOT NULL,
    "wrong" INTEGER NOT NULL,
    "marks" DOUBLE PRECISION NOT NULL,
    "positiveMarks" DOUBLE PRECISION NOT NULL,
    "partialMarks" DOUBLE PRECISION NOT NULL,
    "negativeMarks" DOUBLE PRECISION NOT NULL,
    "timeTaken" INTEGER NOT NULL,
    "accuracy" DOUBLE PRECISION NOT NULL,
    "maxMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,

    CONSTRAINT "QuestionTypeTestResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PaperGlobalStats" (
    "id" TEXT NOT NULL,
    "paperId" TEXT NOT NULL,
    "totalAttempts" INTEGER NOT NULL DEFAULT 0,
    "averageScore" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "highestScore" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "averageTimeTaken" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PaperGlobalStats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "QuestionGlobalStats" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "totalAttempts" INTEGER NOT NULL DEFAULT 0,
    "totalTimeSpent" INTEGER NOT NULL DEFAULT 0,
    "leastTimeInPratice" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "leastTimeInTest" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "maxPossibleMarks" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "maxPossibleMarksEarnedInPratice" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "totalAttemptsInPratice" INTEGER NOT NULL DEFAULT 0,
    "totalMarksEarned" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "totalMarksEarnedInPratice" DOUBLE PRECISION NOT NULL DEFAULT 0.0,
    "totalTimeSpentInPratice" INTEGER NOT NULL DEFAULT 0,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "QuestionGlobalStats_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DailyActivityLog" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "date" TIMESTAMP(3) NOT NULL,
    "questionsSolved" INTEGER NOT NULL DEFAULT 0,
    "questionsCorrect" INTEGER NOT NULL DEFAULT 0,
    "testsTaken" INTEGER NOT NULL DEFAULT 0,
    "timeSpent" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "DailyActivityLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "bookmarkedQuestion" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "studentId" TEXT NOT NULL,

    CONSTRAINT "bookmarkedQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "email"."Email" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,

    CONSTRAINT "Email_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "user_email_key" ON "user"("email");

-- CreateIndex
CREATE UNIQUE INDEX "user_password_key" ON "user"("password");

-- CreateIndex
CREATE UNIQUE INDEX "user_refersh_token_key" ON "user"("refersh_token");

-- CreateIndex
CREATE UNIQUE INDEX "studentProfile_user_id_key" ON "studentProfile"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "studentProfile_phone_key" ON "studentProfile"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "exam_name_key" ON "exam"("name");

-- CreateIndex
CREATE UNIQUE INDEX "subjects_name_key" ON "subjects"("name");

-- CreateIndex
CREATE UNIQUE INDEX "chapters_name_key" ON "chapters"("name");

-- CreateIndex
CREATE UNIQUE INDEX "paperMarkingScheme_paperId_questionType_key" ON "paperMarkingScheme"("paperId", "questionType");

-- CreateIndex
CREATE UNIQUE INDEX "options_questionId_key" ON "options"("questionId");

-- CreateIndex
CREATE UNIQUE INDEX "solution_questionId_key" ON "solution"("questionId");

-- CreateIndex
CREATE UNIQUE INDEX "testStatus_paperId_created_at_key" ON "testStatus"("paperId", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "testQuestionAttemptStatus_questionId_testStatusId_key" ON "testQuestionAttemptStatus"("questionId", "testStatusId");

-- CreateIndex
CREATE INDEX "chapterWiseQuestionAttemptStatus_studentId_questionId_creat_idx" ON "chapterWiseQuestionAttemptStatus"("studentId", "questionId", "created_at");

-- CreateIndex
CREATE UNIQUE INDEX "StudentOverallAnalytics_studentId_key" ON "StudentOverallAnalytics"("studentId");

-- CreateIndex
CREATE UNIQUE INDEX "SubjectAnalytics_studentId_subjectId_key" ON "SubjectAnalytics"("studentId", "subjectId");

-- CreateIndex
CREATE UNIQUE INDEX "ChapterAnalytics_studentId_chapterId_key" ON "ChapterAnalytics"("studentId", "chapterId");

-- CreateIndex
CREATE UNIQUE INDEX "TestChapterAnalytics_studentId_chapterId_testStatusId_key" ON "TestChapterAnalytics"("studentId", "chapterId", "testStatusId");

-- CreateIndex
CREATE UNIQUE INDEX "ExamAnalytics_studentId_examName_key" ON "ExamAnalytics"("studentId", "examName");

-- CreateIndex
CREATE UNIQUE INDEX "StudentQuestionAnalytics_studentId_questioType_key" ON "StudentQuestionAnalytics"("studentId", "questioType");

-- CreateIndex
CREATE UNIQUE INDEX "TestAttemptSummary_testStatusId_key" ON "TestAttemptSummary"("testStatusId");

-- CreateIndex
CREATE UNIQUE INDEX "SubjectTestResult_summaryId_subjectName_key" ON "SubjectTestResult"("summaryId", "subjectName");

-- CreateIndex
CREATE UNIQUE INDEX "QuestionTypeTestResult_summaryId_questionType_key" ON "QuestionTypeTestResult"("summaryId", "questionType");

-- CreateIndex
CREATE UNIQUE INDEX "PaperGlobalStats_paperId_key" ON "PaperGlobalStats"("paperId");

-- CreateIndex
CREATE UNIQUE INDEX "QuestionGlobalStats_questionId_key" ON "QuestionGlobalStats"("questionId");

-- CreateIndex
CREATE UNIQUE INDEX "DailyActivityLog_studentId_date_key" ON "DailyActivityLog"("studentId", "date");

-- CreateIndex
CREATE UNIQUE INDEX "bookmarkedQuestion_studentId_questionId_key" ON "bookmarkedQuestion"("studentId", "questionId");

-- CreateIndex
CREATE UNIQUE INDEX "Email_email_key" ON "email"."Email"("email");

-- AddForeignKey
ALTER TABLE "studentProfile" ADD CONSTRAINT "studentProfile_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "user"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chapters" ADD CONSTRAINT "chapters_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "papers" ADD CONSTRAINT "papers_examId_fkey" FOREIGN KEY ("examId") REFERENCES "exam"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "paperMarkingScheme" ADD CONSTRAINT "paperMarkingScheme_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "papers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_chapterId_fkey" FOREIGN KEY ("chapterId") REFERENCES "chapters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "papers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "questions" ADD CONSTRAINT "questions_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "options" ADD CONSTRAINT "options_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "solution" ADD CONSTRAINT "solution_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testStatus" ADD CONSTRAINT "testStatus_activeQuestionId_fkey" FOREIGN KEY ("activeQuestionId") REFERENCES "questions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testStatus" ADD CONSTRAINT "testStatus_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "papers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testStatus" ADD CONSTRAINT "testStatus_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testQuestionAttemptStatus" ADD CONSTRAINT "testQuestionAttemptStatus_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testQuestionAttemptStatus" ADD CONSTRAINT "testQuestionAttemptStatus_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "testQuestionAttemptStatus" ADD CONSTRAINT "testQuestionAttemptStatus_testStatusId_fkey" FOREIGN KEY ("testStatusId") REFERENCES "testStatus"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chapterWiseQuestionAttemptStatus" ADD CONSTRAINT "chapterWiseQuestionAttemptStatus_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chapterWiseQuestionAttemptStatus" ADD CONSTRAINT "chapterWiseQuestionAttemptStatus_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentOverallAnalytics" ADD CONSTRAINT "StudentOverallAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectAnalytics" ADD CONSTRAINT "SubjectAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectAnalytics" ADD CONSTRAINT "SubjectAnalytics_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "subjects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChapterAnalytics" ADD CONSTRAINT "ChapterAnalytics_chapterId_fkey" FOREIGN KEY ("chapterId") REFERENCES "chapters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ChapterAnalytics" ADD CONSTRAINT "ChapterAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestChapterAnalytics" ADD CONSTRAINT "TestChapterAnalytics_chapterId_fkey" FOREIGN KEY ("chapterId") REFERENCES "chapters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestChapterAnalytics" ADD CONSTRAINT "TestChapterAnalytics_studentId_chapterId_fkey" FOREIGN KEY ("studentId", "chapterId") REFERENCES "ChapterAnalytics"("studentId", "chapterId") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestChapterAnalytics" ADD CONSTRAINT "TestChapterAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExamAnalytics" ADD CONSTRAINT "ExamAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "StudentQuestionAnalytics" ADD CONSTRAINT "StudentQuestionAnalytics_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestAttemptSummary" ADD CONSTRAINT "TestAttemptSummary_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TestAttemptSummary" ADD CONSTRAINT "TestAttemptSummary_testStatusId_fkey" FOREIGN KEY ("testStatusId") REFERENCES "testStatus"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubjectTestResult" ADD CONSTRAINT "SubjectTestResult_summaryId_fkey" FOREIGN KEY ("summaryId") REFERENCES "TestAttemptSummary"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionTypeTestResult" ADD CONSTRAINT "QuestionTypeTestResult_summaryId_fkey" FOREIGN KEY ("summaryId") REFERENCES "TestAttemptSummary"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PaperGlobalStats" ADD CONSTRAINT "PaperGlobalStats_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "papers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "QuestionGlobalStats" ADD CONSTRAINT "QuestionGlobalStats_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DailyActivityLog" ADD CONSTRAINT "DailyActivityLog_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bookmarkedQuestion" ADD CONSTRAINT "bookmarkedQuestion_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "questions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "bookmarkedQuestion" ADD CONSTRAINT "bookmarkedQuestion_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "studentProfile"("id") ON DELETE CASCADE ON UPDATE CASCADE;

